:root {
    --leftside: 12vw;
    --centerside: calc(100% - var(--leftside));
    --leftsidehover: 40vw;
    --centersidehover: calc(100vw - var(--leftsidehover));
}

::-moz-selection {
    background: #ffc6a8;
    /* WebKit/Blink Browsers */
}

::selection {
    background: #ffc6a8;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ffc6a8;
    /* Gecko Browsers */
}

/* width */
::-webkit-scrollbar {
    width: 0px;
    height: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkorange;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-drag: auto;
}

img {
    image-resolution: snap;
}

body {
    background-color: white;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
/*    overflow: hidden;*/
    /*     overflow: hidden;*/
}

.preloader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: calc(var(--vh) * 100);
        z-index: 9999;
        background-color: #FFF;
    }
#preload-square {
    width: 100px;
    height: 100px;
    position: absolute;
    left: calc(50vw - 50px);
    top: calc(50vh - 50px);
    background: black;
    -webkit-animation: preload 4s infinite; /* Safari 4.0 - 8.0 */
    animation: preload 4s infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes preload {
    0%   {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    25%  {-webkit-transform: rotate(90deg);transform: rotate(90deg);}
    50%  {-webkit-transform: rotate(180deg);transform: rotate(180deg);}
    75%  {-webkit-transform: rotate(270deg);transform: rotate(270deg);}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

/* Standard syntax */
@keyframes preload {
    0%   {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    25%  {-webkit-transform: rotate(90deg);transform: rotate(90deg);}
    50%  {-webkit-transform: rotate(180deg);transform: rotate(180deg);}
    75%  {-webkit-transform: rotate(250deg);transform: rotate(250deg);}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}


#mainmain {
    width: 90vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
/*    overflow: hidden;*/
}



#main {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
/*    overflow: hidden;*/
    /*     padding-top: 30px;*/
}

#leftside {
    width: var(--leftside);
    height: 100vh;
    background-color: white;
    /*    opacity: 0.6;*/
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px;
    padding-top: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#ghostleftside {
    width: var(--leftside);
    height: 100vh;
    /*    background-color: white;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px;
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


#leftside::-webkit-scrollbar {
    display: none;
}

#ghostleftside::-webkit-scrollbar {
    display: none;
}

@media only screen and (orientation: portrait) and (min-width: 600px) {
    #leftside:hover #name {
        height: 80px;
        width: 500px;
        font-size: 30px;
        line-height: 70px;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }
}

#leftside:hover {
    width: var(--leftsidehover);
}

#leftside:hover ~ #ghostleftside {
    width: var(--leftsidehover);
}

#leftside:hover ~ #centerside {
    width: var(--centersidehover);
}


#name {
    height: 50px;
    width: 340px;
    font-weight: 600;
    font-size: 29px;
    font-family: 'sporting_grotesqueregular', serif;
    /*    font-style: italic;*/
    /*     font-weight: 400;*/
    -webkit-box-sizing: content-box;
    box-sizing: padding-box;
    margin: 10px 0px;
}

.main-text {
    height: auto;
    font-size: 25px;
    font-family: sans-serif;
    /*     font-weight: 400;*/
    max-width: 90vw;
    margin-bottom: 200px;
    line-height: 1.4;
}

footer p {
    font-size: 25px;
    font-family: sans-serif;
    margin-bottom: 10px;
}



#centerside {
    width: var(--centerside);
    height: auto;
    border: 3px solid black;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: black;

    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1% 0 0% 0%;
    position: relative;
    
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

#frame {
    max-width: 45%;
    min-width: 25%;
    height: calc(auto + 200px);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    word-break: normal;

}

#frame a {
    color: orangered;
}

#text {
    font-size: 18px;
    text-align: center;
    font-family: sans-serif;
    /*    font-style: italic;*/
}

.link {
    color: black;
}
.link:hover {
    color: darkorange;
    /*cursor: pointer;*/
}

#bh {
    display: none;
}


#shade {
    width: 5vw;
    height: 100vh;
    position: absolute;
    right: 0px;
    z-index: 100;
    background-color: white;
}

/*INSIDE*/

.module {
    width: 100%;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    overflow-y: hidden;
    margin: 3% 0;
    position: relative;
    /*cursor: url(files/cursor.png), auto; */
}
.active {
    left: -4300px !important;
}

.module:first-of-type {
    margin-top: 2%;
}

#module1 {
    margin-bottom: 0px;
}

#module-draw {
    margin: 0px;
    margin-left: -1%;
    margin-bottom: -1%;
    height: 50vh;
    width: 101%;
}

#module-draw canvas {
    position: static !important;
}

.scroll-wrapper {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: ms-flexbox;
    display: -ms-flexbox;
    display: flex;

}


.image-text {
    height: auto;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 4%;
    padding-left: 1%;
    margin-left: 2%;
    padding-bottom: 20px;
    position: -webkit-sticky;
    position: sticky;
    left: 2%;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.image-text:hover {
    z-index: 10;
}

.image-text h2 {
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
    font-family: 'sporting_grotesqueregular', serif;
}

.image-text p {
    font-size: 16px;
    width: 50%;
    max-width: 600px;
    margin: 0px;
    margin-top: 10px;
    font-family: sans-serif;
    line-height: 1.6;
}

.texts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.texts-wrapper a {
    height: 21px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 5%;
    margin-top: 10px;
    color: black;
    font-size: 16px;
    font-family: sans-serif;
} .texts-wrapper a:hover {
    color: darkorange;
}

.image-slide {
    width: auto;
    height: 100%;
    /*     background-image: url(images/1-container.png);*/
    background-position: left;
    /*    background-size: contain;*/
    background-repeat: repeat;
    /*    background-clip: border-box;*/
    background-size: contain;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 1;
/*    pointer-events: none;*/
    
    left: 0px;
    
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}


.ima {
    height: 100%;
    width: auto;
}

#module-draw {
    border-top: 1px solid black;
}

#module1 img {
    margin: 0 0px;
}

#module4 img {
    margin: 0 100px;
}

#module5 img:not(:first-of-type) {
    margin: 0 100px;
    height: 120%;
    top: -10%;
    position: relative;
}

#foot{
    height: 21vh;
    width: 300px;
    margin: 13vh calc((100% - 300px) / 2);
    background: white;
    color: black;
    border: 1px solid;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    position: absolute;   
    padding: 3% 0;
} 
#foot p {
    width: 80%;
    margin: auto;
}




