::-webkit-scrollbar { 
    display: none; 
}

html {
    overflow-x: hidden;
    
}

body {
    background-color: #111111;
    margin: 0px;
    display: flex;
/*    justify-content: center;*/
}


#main {
    width: 100%;
    margin: 0px;
    height: 100%;
/*
    display: flex;
    flex-direction: column;
    position: absolute;
    align-self: flex-start;
*/
/*    transform: rotate(-45deg);*/
/*
    left: 50vw;
    top: -100vh;
*/
    font-size: 14px;
    color: black;
    font-family: sans-serif;
}

#div1 {
    height: 85vh;
    margin-top: 15vh;
}

.class {
    width: 100vw;
    height: 100vh;

    background-color: aqua;
    margin: 0px;
    display: inline-flex;
    
}

.class2 {
    width: 100vw;
    height: 30vh;

    background-color: aqua;
    margin: 0px;
    display: inline-flex;
}

#trytry {
    width: 50%;
    height: 50%;
    background-color: rebeccapurple;
    display: flex;
    
    position: relative;
}
#trytry2 {
    width: 50%;
    height: 50%;
    background-color: red;
    display: flex;
    
    position: relative;
}



