<section title="Contact" id="contact" style="text-align: left;">
	<h2 class="titulo-bloco" style="font-size:30px">Reach out</h2>
	<p class="text" style="margin: 20px 0;">If you're looking for a designer who can a navigate the web or if you'd simply like to have a chat.</p>
	<div class="bloco">
		<p><a href="mailto:hello@bru-no.com?Subject=Hey,%20Let's%20talk!" target="_blank" style="display:block;">hello@bru-no.com</a><a href="https://www.linkedin.com/in/bru-no/" target="_blank" rel="noreferrer"style="display:block;">linkedin.com/in/bru-no</a></p>
	</div>
</section>