<section title="Contact" id="contact">
	<h2 class="titulo-bloco">Contact me!</h2>
	<p class="text">If you're looking for a new website, a designer who can a navigate the web or if you'd simply like to have a chat.</p>
	<div class="bloco">
		<p><a href="mailto:hello@bru-no.com?Subject=Hey,%20Let's%20talk!" target="_blank">hello@bru-no.com</a></p>
		<p><a href="https://www.linkedin.com/in/bru-no/" target="_blank" rel="noreferrer">linkedin.com/in/bru-no</a></p>
		<!-- <p><a href="https://wa.me/351913673754" target="_blank" rel="noreferrer">Call or Text</a></p> -->
	</div>
</section>
