<footer>
    <p>Lisbon — 2019</p>
    <div id="sticky-bottom">
        <a href="/" class="button button-back">
            <div class="arrow">
                <span>1</span>
            </div>
            <h5>Back to beginning</h5>
        </a>
        <img src="/assets/images/arrow-b.svg" alt="arrow to go back to top" onclick="goTop()">
    </div>
    
    <script>
        function goTop() {
            $("html, body").stop().animate({
                scrollTop: 0
            }, 400, 'swing');
        }
    </script>
</footer>


