<header>
    <nav id="nav">
        <ul>
            <li id="jumpto" class="on off">Jump to:</li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#education">Education and Experience</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#work">Some of What I've Done</a></li>
            <li><a href="#contacto">Contact Me!</a></li>
        </ul>
        <img id="topo" src="imagens/arrow-b.svg" alt="arrow to go back to top" onclick="goTop()">
    </nav>
</header>
