<header id="header" class="closed">
	<nav id="nav">
		<h3>Don't want you to get lost</h3>
		<ul>
			<li><a href="/">Start</a></li>
			<li><a href="#about">?????</a></li>
			<li class="sub"><a href="/#projects">Some of what I've done</a></li>
			<li class="sub"><a href="#contact">Contact</a></li>
		</ul>
	</nav>
	<div id="top-closed-menu">
		{% if page.collection == 'projects' %}
		<a href="javascript:history.back()" class="button button-back">
			<div class="arrow">
				<span>1</span>
			</div>
			<h5>Back to start</h5>
		</a>
		{% else %}
		<a href="/" class="button button-back">
			<div class="arrow">
				<span>1</span>
			</div>
			<h5>Back to start</h5>
		</a>
		{% endif %}

		<div id="menu-button" class="transform-button"></div>
	</div>
	<script>
		var open = false;

		function header() {
			open = open ? false : true;
			$("#menu-button").toggleClass('transform-button');
			if (open == true) {
				$("#header").removeClass('closed')
			} else {
				$("#header").addClass('closed')
			}
		}

		if (window.matchMedia('(max-width:767px)').matches) {

			$("#menu-button").click(header);

		}
	</script>
</header>