<header>
    <nav id="nav">
        <h3 id="jumpto">Guess I needed a menu of sorts:</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="projects">Some of what I've done</a></li>
            <li><a href="about">About me</a></li>
            <li><a href="#contacto">Contacts</a></li>
        </ul>
    </nav>
    <div id="top-closed-menu">
        <div id="menu-buttton"></div>
        <a class="button">
            <span class="arrow arrow-back">1</span>
            <h5>Back to the beginning</h5> 
        </a>
    </div>
</header>
