@media only screen and (min-width: 768px) {

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: var(--white);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--black);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: orangered;
    }

    @mixin pages {
        section {
            margin: 20px 0;
        }
    }

    @mixin projects {
        header {
            padding-left: 50px;
        }

        #bloco-work {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 20px;

            .project {
                margin: 0;
                height: 480px;
                background: var(--white);

                transition: all .06s ease-in-out;
                transform: skewX(-5deg);

                article {
                    h3 {
                        display: none;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        padding: 0;
                        font-size: 22px;
                    }   
                }
                
                &:hover {
                    transform: skewX(5deg);
                    
                    h3 {
                        display: flex;
                    }
                    img {
                        opacity: .1;
                    }
                }
            }
        }

        footer {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;

            padding: 0 20vw;

            .button {
                margin: unset;
            }
        }
    }

    .wrapper > header {
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;

        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 50px 20px 20px;

        nav {
            height: 50px;
            padding: 0;
            border: 0;

            flex-direction: row;
            justify-content: flex-end;

            h3 {
                display: none;
            }

            ul {
                height: 35px;
                width: 500px;
                justify-content: space-between;
                flex-direction: row;

                li {
                    font-size: 18px;
                    background: black;
                    transition: background .06s;

                    &:hover {
                        background: none;
                    }

                    &:first-of-type {
                        display: none;
                    }
                }
            }
        }

        #top-closed-menu {
            position: static;
            display: flex;
            align-items: center;

            #menu-button {
                display: none;
            }
        }
    }

    .wrapper > footer {
        max-width: 1300px;
        margin: 0 auto;
        height: 150px;

        #sticky-bottom {
            max-width: 1300px;
            margin: 40px auto;
        }
    }

    .wrapper > main {
        max-width: 1300px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .filter {
        width: 700px;
        height: 50px;

        border: 1px solid var(--black);
        padding: 10px;
        margin: -30px 0px 50px;

        position: sticky;
        top: 50px;

        display: flex;
        align-self: flex-end;
        justify-content: space-between;
        align-items: center;

        h3 {
            width: 10%;
            height: 100%;
            position: static;
            font-size: 20px;
            line-height: 35px;
            margin: 0 auto;

            &.filter-close {
                display: none;
                text-transform: capitalize;
                padding: 5px;
            }
        }

        ul {
            width: 85%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0;
            font-size: 16px;
            line-height: 32px;
            font-family: $font-regular;

            li {
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    #timer {
        margin: 100px 0;
    }

    .home {

        #sobre {
            margin: 0 5vw 100px 45vw;
            padding: 30px 20px 20px;

            font-family: $font-regular;
            font-size: 18px;

            &:hover {
                background: rgba(255, 255, 255, .95);
                z-index: 10;
                position: relative;
            }
        }

        @include projects;

        section #contact {
            margin-top: 150px;
        }
    }

    #name {
        height: 300px;

        h1 {
            width: 80%;
            padding: 20px 0 20px 20px;

            font-size: 12vw;

            position: absolute;
            left: 0;
            top: 0;
            z-index: 0;

            -webkit-transform-origin: top left;
            -ms-transform-origin: top left;
            transform-origin: top left;
        }
    }

    .about {
        font-size: 20px;

        #sobre {
            max-width: 700px;
        }
        
        #contact h3 {
            max-width: 700px;
            margin: 0 auto 50px;
        }
    }

    .projects {
        @include pages;
        @include projects;

        header h1 {
            height: auto;
            margin: 0;
            font-size: 60px;
        }
    }

    .project-page {
        & > header {
            position: absolute;
            left: 0;
            right: 0;
        }

        & > main {
            height: 100vh;
            max-width: 1400px;
            margin: auto;
            overflow-x: hidden;
            overflow-y: scroll;
        }
        
        header {
            p {
                font-size: 16px;
            }
        }
        
        #sticky-bottom {
            margin-bottom: 30px;
            display: block;
        }

        article {

            padding-top: 20px;

            header {
                position: fixed;
                top: 150px;
                max-width: 500px;
                padding: 10px;

                &:hover {
                    background: rgba(255, 255, 255, .9);
                    z-index: 4;
                }
            }

            main {
                margin-top: 65vh;
                position: relative;
                z-index: 3;
                pointer-events: none;
            }

            footer {
                margin: 100px 0;
                padding: 20px;
            }
        }

        & > footer {
            display: none;
        }
    }
    
    #experiments {
        cursor: url(/assets/images/cursor.png) 10 10, auto;
        
        #sobre {
            margin: 0 5vw 100px 45vw;
            padding: 30px 20px 20px;

            font-family: $font-regular;
            font-size: 18px;

            &:hover {
                background: rgba(255, 255, 255, .95);
                z-index: 10;
                position: relative;
            }
        }
        
    }

}
