@import 'includes';


body {
    background-color: var(--white);
    color: var(--black);
    font-family: $font-bold;
    margin: 0;
    transition: all .2s ease-in-out;
}

.wrapper {
    position: relative;
    width: 100%;
}

@mixin projects {
    #bloco-work .project {
        width: 100%;
        height: 480px;
        border: 1px solid var(--black);
        margin-bottom: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        article {
            width: 100%;
            height: 100%;
            padding: 20px;

            h3 {
                height: 10%;
                margin: 0;
                font-size: 20px;
                text-align: center;
            }

            img {
                width: 100%;
                height: 90%;
                object-fit: cover;
            }
        }
    }

    footer {
        width: 100%;
        text-align: center;
    }
}

@mixin pages {
    font-size: 18px;
    line-height: 1.7;

    main {
        padding-top: 50px;
    }

    section {
        padding: 20px;
        margin: 100px 0;

        h2 {
            font-size: 45px;
            margin: 0 0 20px;
        }

        .bloco {
            text-align: center;
        }

    }
}


// COMMON

.wrapper > header {
    position: relative;

    nav {
        width: 100%;
        height: 350px;

        padding: 20px;
        border: 1px solid var(--black);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        will-change: transform;

        h3 {
            font-size: 16px;
            font-family: $font-bold;
            text-decoration: line-through;
            margin-bottom: 70px;
        }

        ul {
            display: flex;
            flex-direction: column;

            li {
                font-size: 25px;
                margin: 5px 0;

                a {
                    text-decoration: none;
                }
            }
        }

    }

    #top-closed-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        left: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        #menu-button {
            display: block;
            position: absolute;
            top: 0;
            right: 0;

            width: 60px;
            height: 60px;
            z-index: 1000;
            overflow: visible;

            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-color: var(--black);
            border: none;
            -webkit-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;

            -webkit-transform: scaleX(2);
            -ms-transform: scaleX(2);
            transform: scaleX(2);

            &.transform-button {
                -webkit-transform: scaleY(2.2);
                -ms-transform: scaleY(2.2);
                transform: scaleY(2.2);
            }
        }

        .button-back {
            z-index: 1;
        }
    }
}

#contact {
    margin-top: 200px;
    text-align: center;

    h3 {
        font-size: 18px;
        font-family: $font-regular;
        margin-bottom: 50px;
    }
    
    .bloco {
        margin-top: 20px;

        a {
            font-size: 20px;
            line-height: 60px;
        }
    }
}

.wrapper > footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
        height: 100px;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #sticky-bottom {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        padding: 0 20px;

        position: fixed;
        bottom: 0px;
        z-index: 1000;

        .button {
            height: 100%;
            width: calc(100vw - 20px - 20px - 50px - 20px);
        }

        img {
            width: 50px;
            height: 50px;
            background: black;

            display: block;
            position: absolute;
            right: 20px;

            &:hover {
                background: none;
                cursor: pointer;
            }
        }
    }
}

.filter {
    width: 90px;
    height: 50px;
    background: white;
    border: 1px solid var(--black);
    border-right: 0;

    padding: 10px 15px 20px;
    margin-right: -20px;
    margin-bottom: 20px;

    align-self: flex-end;
    position: sticky;
    top: 200px;
    right: 0;

    transition: all .06s;

    h3 {
        height: 40px;
        font-size: 25px;
        margin: 0;
        position: absolute;

        &.filter-close {
            display: none;
            text-transform: capitalize;
            padding: 5px;
        }
    }

    ul {
        height: 160px;
        display: none;
        text-align: right;
        margin-top: 50px;
        font-size: 20px;
        line-height: 40px;

        .filter-selected {
            text-decoration: underline;
        }
    }
}

// TIMER
#timer {
    width: 100%;
    height: 400px;
    overflow-x: hidden;
    padding: 0;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .wrapper {
        width: 100%;
        max-width: 380px;
        padding: 10px;

        background: var(--white);
        border: 1px solid var(--black);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transform: rotate(-12deg);
        animation: hover 20s ease-in-out infinite alternate;

        .countdown {
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
                margin: 0;
                font-size: 60px;
            }
        }

        h4 {
            margin: 0;
            font-size: 18px;
        }

    }

    @keyframes hover {
        0% {
            -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
            -webkit-transform-origin: top center;
            transform-origin: top center;
        }

        50% {
            -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
            -webkit-transform-origin: top left;
            transform-origin: top left;
        }

        100% {
            -webkit-transform: rotate(-17deg);
            transform: rotate(-17deg);
            -webkit-transform-origin: center right;
            transform-origin: center right;
        }
    }

}

// HOME PAGE
.home {
    .button-back {
        display: none !important;
    }

    section {
        margin: 100px 0;
        padding: 20px;

        &:nth-of-type(2) {
            margin-top: 0;
        }

        h2 {
            font-size: 45px;
            margin: 0;
        }

        &#sobre {
            header {
                height: 0;
            }

            h2 {
                margin: 0;
            }

            p {}
            p:first-of-type {
                margin-bottom: 30px;
            }

            .button {
                margin-top: 50px;
            }
        }

        &#projects {
            @include projects;
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;
        }

        &#contact {
            margin-top: 50px;
        }
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        height: 150px;
        margin-top: 50px;

        p {
            margin-bottom: 0;
        }

        #sticky-bottom {
            display: none;
        }
    }
}

// NOME 
#name {
    overflow: hidden;
    padding: 10px 0 10px 10px;
    margin: 0;

    h1 {
        width: 100%;
        margin: 0;

        color: var(--black);
        font-size: 90px;
        line-height: 1.3;

        overflow: hidden;
        pointer-events: none;

        -webkit-transform: var(--skew);
        -ms-transform: var(--skew);
        transform: var(--skew);

        -webkit-transform-origin: 0 60%;
        -ms-transform-origin: 0 60%;
        transform-origin: 0 60%;

        will-change: transform;
    }
}






//PROJECTS PAGE
.projects {
    @include pages;
    @include projects;

    #projects {
        display: flex;
        flex-direction: column;
    }

    header h1 {
        height: 200px;
        margin-bottom: 0;
        font-size: 45px;
    }

}

//ABOUT PAGE
.about {

    @include pages;

    p:not(#contact>.bloco>p) {
        font-family: $font-regular;
    }

    section header {
        width: 100%;
        position: sticky;
        top: 0;
        padding-top: 20px;
        background: rgba(255, 255, 255, .9);
    }
    
    #sobre p {
        font-family: $font-regular;
        line-height: 1.8;
    }

    /* EDUCATION */

    #education {
        white-space: nowrap;

        .titulo-bloco {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
        }

        ul {
            margin-bottom: 50px;
            
            li {
                margin: 15px 0;
            }
        }
    }

    /* SKILLS */

    #skills {

        h2 {
            margin: 0;
        }
        
        .bloco ul:not(:last-of-type)::after {
            content: '+';
        }

    }

}

//SINGLE PROJECT PAGE
.project-page {
    article {
        padding: 20px;
        padding-top: 150px;

        header {
            margin-bottom: 50px;

            h2 {
                font-size: 45px;
                margin: 0 0 20px;
            }

            p {
                font-family: $font-regular;
                font-size: 18px;
                line-height: 1.6;
            }

        }

        main {
            ul {
                display: flex;
                flex-direction: column;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }
        }

        footer {
            margin: 50px auto 150px;
            font-size: 18px;
            text-align: center;
            line-height: 2;

            h4:last-of-type {
                margin-top: 50px;
            }
        }
    }

    footer p {
        display: none;
    }
}


//EXPERIMENTS PAGE
#experiments {

    overflow: hidden;

    & > header {
        display: none;
    }

    #name {
        overflow: unset;

        h1 {
            transform-origin: top right;
        }
    }

    #timer {
        h4 {
            text-align: center;
            max-width: 240px
        }
    }

    section:not(#name) {
        padding: 20px;
    }

    footer {
        p {
            margin-bottom: 0;
        }

        #sticky-bottom {
            display: none;
        }
    }
}


///* BODY E CONTENTOR PRINCIPAL */
//body {
//    width: 100%;
//    background-color: var(--white);
//    color: var(--black);
//    margin: 0;
//}
//
//.wrapper {
//    position: relative;
//    width: 100%;
//}
//
///* NAVEGAÇÃO */
//
//nav {
//    width: 100%;
//    min-width: 810px;
//    height: auto;
//
//    a {
//        text-decoration: none;
//    }
//
//    ul {
//        display: -webkit-box;
//        display: -webkit-flex;
//        display: -ms-flexbox;
//        display: flex;
//        -webkit-box-orient: horizontal;
//        -webkit-box-direction: normal;
//        -webkit-flex-direction: row;
//        -ms-flex-direction: row;
//        flex-direction: row;
//        -webkit-box-pack: justify;
//        -webkit-justify-content: space-between;
//        -ms-flex-pack: justify;
//        justify-content: space-between;
//        padding: 0;
//        margin: 0;
//    }
//
//    li {
//        background: black;
//        float: left;
//        margin: 20px;
//        list-style: none;
//        font-size: 14px;
//        font-family: Bangla-bold, sans-serif;
//        color: var(--black);
//        text-decoration: underline;
//
//        &:first-of-type {
//            text-decoration: none;
//            background: transparent;
//        }
//
//        &:not(:first-of-type):hover {
//            background: transparent;
//        }
//    }
//}
//
///* NOME */
//
//#nome {
//    width: 100%;
//    margin: 0;
//
//    color: var(--black);
//    font-size: 20vw;
//    font-family: Bangla-bold, sans-serif;
//    line-height: 1.3;
//
//    overflow: hidden;
//    position: absolute;
//    left: 0;
//    top: 0;
//    z-index: 0;
//    pointer-events: none;
//
//    -webkit-transform: var(--skew);
//    -ms-transform: var(--skew);
//    transform: var(--skew);
//
//    -webkit-transform-origin: 90% 10%;
//    -ms-transform-origin: 90% 10%;
//    transform-origin: 90% 10%;
//}
//
//
//
///* SOBRE */
//
//#sobre {
//    margin: 300px 5vw 200px 33vw;
//    padding: 60px 20px 10px;
//
//    color: var(--black);
//    font-size: 25px;
//    font-family: Bangla-bold, sans-serif;
//    line-height: 1.8;
//}
//
//#sobre:hover,
//#education .bloco:hover,
//#skills .bloco:hover {
//    background: var(--white);
//    opacity: 0.9;
//    z-index: 10;
//}
//
//
//
//
///* EDUCATION */
//
//#education {
//    white-space: nowrap;
//
//    .titulo-bloco {
//        position: -webkit-sticky;
//        position: sticky;
//        top: 0;
//    }
//
//    ul {
//        margin-bottom: 15px;
//    }
//}
//
//
///* SKILLS */
//
//#skills {
//
//    .titulo-bloco {
//        margin-bottom: 0;
//        position: -webkit-sticky;
//        position: sticky;
//        top: 50px;
//    }
//
//    .bloco ul:not(:last-of-type)::after {
//        content: '+';
//    }
//
//    h3 {
//        font-size: 45px;
//        margin: 0 auto;
//    }
//    
//}
//
///* SOME OF WHAT I'VE DONE */
//
//#bloco-work {
//    padding-left: 15vw;
//}
//
//#work {
//    
//    h3 {
//        font-family: Bangla-bold, sans-serif;
//        font-size: 35px;
//    }
//
//    p {
//        width: 600px;
//        padding: 10px;
//        padding-left: 0;
//
//        position: relative;
//        z-index: 1;
//
//        font-family: Bangla-bold, sans-serif;
//        font-size: 16px;
//        
//        &:hover,
//        &:hover ~ p {
//            background: rgba(255, 255, 255, 0.8);
//            cursor: help;
//        }
//    }
//
//    ul {
//        overflow-x: scroll;
//        overflow-y: hidden;
//        white-space: nowrap;
//        margin-top: -100px;
//    }
//
//    li {
//        display: inline-block;
//    }
//
//    img {
//        height: 800px;
//        margin-right: 75px;
//    }
//    
//}
//
//article {
//    margin-bottom: 200px;
//}
//
//
//
///* CONTACT */
//
//#contacto {
//    margin-bottom: 250px;
//
//    p:first-of-type {
//        margin-top: 30px;
//        margin-bottom: 30px;
//    }
//}
//
//
//
///* FOOTER */
//
//footer {
//    margin-bottom: 50px;
//
//    text-align: center;
//    font-size: 16px;
//    font-family: Bangla-bold, sans-serif;
//}
//
//#topo {
//    width: 40px;
//    height: 40px;
//    background: black;
//
//    display: block;
//    position: fixed;
//    right: 40px;
//    bottom: 40px;
//
//    z-index: 10;
//
//    &:hover {
//        background: none;
//        cursor: pointer;
//    }
//}
//
//
//
//
///* CLASSES */
//
//.bloco {
//    margin: 0 5vw 200px 33vw;
//    padding: 20px;
//
//    text-align: center;
//    font-size: 25px;
//    font-family: Bangla-bold, sans-serif;
//    line-height: 1.8;
//}
//
//.underline {
//    text-decoration: underline;
//}
//
//.hidden {
//    display: none;
//}
//
//.titulo-bloco {
//    margin-left: 15vw;
//    margin-top: 0;
//    padding-top: 50px;
//
//    font-family: Bangla-bold, sans-serif;
//    font-size: 80px;
//}
//
//
//@media only screen and (max-width: 480px) {
//
//    nav {
//        min-width: initial;
//        height: 40vh;
//        
//        ul {
//            -webkit-box-orient: vertical;
//            -webkit-box-direction: normal;
//            -webkit-flex-direction: column;
//            -ms-flex-direction: column;
//            flex-direction: column;
//            text-align: center;
//        }
//        
//        li {
//            font-size: 20px;
//        }
//
//        a {
//            display: none;
//        }
//    }
//
//
//    #jumpto {
//        text-decoration: underline;
//    }
//
//    
//
//    #nome {
//        top: 50px;
//
//        -webkit-transform-origin: 50% 50%;
//        -ms-transform-origin: 50% 50%;
//        transform-origin: 50% 50%;
//    }
//
//    #sobre {
//        margin: 200px auto 150px auto;
//        font-size: 16px;
//    }
//
//    #education {
//        white-space: normal;
//    }
//
//    #skills .titulo-bloco {
//        top: 0;
//    }
//
//    #skills h3 {
//        font-size: 25px;
//    }
//
//    #bloco-work {
//        padding-left: 5vw;
//        padding-right: 5vw;
//    }
//
//    article {
//        margin-bottom: 100px;
//    }
//
//    #work {
//        p {
//            width: auto;
//            padding: 0;
//        }
//
//        ul {
//            width: 100vw;
//            margin-left: -5vw;
//        }
//
//        img {
//            height: 100vw;
//            margin-right: 75px;
//        }
//    }
//
//    .titulo-bloco {
//        font-size: 50px;
//        margin-left: 5vw;
//        margin-bottom: 0;
//    }
//
//    .bloco {
//        text-align: center;
//        margin: auto;
//        font-size: 16px;
//    }
//
//    #contacto {
//        .titulo-bloco {
//            text-align: center;
//            margin: 0;
//        }
//
//        p {
//            font-size: 18px;
//        }
//    }
//}
