@import 'includes';

body {
    background-color: var(--white);
    color: var(--black);
    font-family: $font-bold;
    margin: 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

		overflow-x: hidden;
}

.wrapper {
    position: relative;
    width: 100%;
}

@mixin projects {
    #bloco-work .project {
        width: 100%;
        height: 430px;
        margin-bottom: 50px;

        display: -webkit-box;

        display: -webkit-flex;

        display: -moz-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        article {
            width: 100%;
            height: 100%;
            position: relative;

            h3 {
                height: 20px;
                width: 100%;
                margin: 10px 0;
                padding: 20px 0;
                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                box-sizing: content-box;
                background: rgba(255, 255, 255, .8);
                font-size: 20px;
                text-align: center;
            }

            img {
                width: 100%;
                height: 85%;
                -o-object-fit: cover;
                object-fit: cover;
                border: 1px solid var(--black);
            }
        }
    }

    footer {
        width: 100%;
        text-align: center;
        margin: 100px 0 30px;
    }
}

@mixin pages {
    font-size: 18px;
    line-height: 1.7;

    main {
        padding-top: 50px;
    }

    section {
        padding: 25px;
        margin: 100px 0;

        h2 {
            font-size: 45px;
            margin: 0 0 20px;
        }

        .bloco {
            text-align: center;
        }

    }
}


// COMMON
.wrapper > header {
    position: relative;

    nav {
        width: 100%;
        height: 350px;

        padding: 20px;
        border: 1px solid var(--black);

        display: -webkit-box;

        display: -webkit-flex;

        display: -moz-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        will-change: transform;

        h3 {
            font-size: 13px;
            font-family: $font-bold;
            text-decoration: line-through;
            margin-bottom: 70px;
        }

        ul {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -moz-box-orient: vertical;
            -moz-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            li {
                font-size: 25px;
                margin: 5px 0;

                a {
                    text-decoration: none;
                }
            }
        }

    }

    #top-closed-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        left: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        #menu-button {
            display: block;
            position: absolute;
            top: 0;
            right: 0;

            width: 60px;
            height: 60px;
            z-index: 1000;
            overflow: visible;

            background-repeat: no-repeat;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            background-size: contain;
            background-position: center;
            background-color: var(--black);
            border: none;
            -webkit-transition: all .2s ease;
            -o-transition: all .2s ease;
            -moz-transition: all .2s ease;
            transition: all .2s ease;

            -webkit-transform: scaleX(1.7);
            -ms-transform: scaleX(1.7);
            -moz-transform: scaleX(1.7);
            -o-transform: scaleX(1.7);
            transform: scaleX(1.7);
            -webkit-transform-origin: center right;
            -moz-transform-origin: center right;
            -ms-transform-origin: center right;
            -o-transform-origin: center right;
            transform-origin: center right;

            &.transform-button {
                -webkit-transform: scaleY(2.2);
                -ms-transform: scaleY(2.2);
                -moz-transform: scaleY(2.2);
                -o-transform: scaleY(2.2);
                transform: scaleY(2.2);
            }
        }

        .button-back {
            z-index: 1;
        }
    }
}

#contact {
    margin-top: 200px;
    text-align: center;

    h3 {
        font-size: 18px;
        font-family: $font-regular;
        margin-bottom: 50px;
    }

    .bloco {
        margin-top: 20px;

        a {
            font-size: 20px;
            line-height: 60px;
        }
    }
}

.wrapper > footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;

    p {
        height: 100px;
        margin-bottom: 100px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    #sticky-bottom {
        width: 100%;
        height: 50px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 20px 0;
        padding: 0 20px;

        position: fixed;
        bottom: 0px;
        z-index: 1000;

        .button {
            height: 100%;
            width: -webkit-calc(100vw - 20px - 20px - 50px - 20px);
            width: -moz-calc(100vw - 20px - 20px - 50px - 20px);
            width: calc(100vw - 20px - 20px - 50px - 20px);
        }

        img {
            width: 50px;
            height: 50px;
            background: black;

            display: block;
            position: absolute;
            right: 20px;

            &:hover {
                background: none;
                cursor: pointer;
            }
        }
    }
}

.filter {
    width: 90px;
    height: 50px;
    background: white;
    border: 1px solid var(--black);
    border-right: 0;

    padding: 10px 15px 20px;
    margin-right: -20px;
    margin-bottom: 20px;

    -webkit-align-self: flex-end;

    -ms-flex-item-align: end;

    align-self: flex-end;
    position: -webkit-sticky;
    position: sticky;
    top: 200px;
    right: 0;
    z-index: 10;

    -webkit-transition: all .06s;

    -o-transition: all .06s;

    -moz-transition: all .06s;

    transition: all .06s;

    h3 {
        height: 40px;
        font-size: 25px;
        margin: 0;
        position: absolute;

        &.filter-close {
            display: none;
            text-transform: capitalize;
            padding: 5px;
        }
    }

    ul {
        height: 160px;
        display: none;
        text-align: right;
        margin-top: 50px;
        font-size: 20px;
        line-height: 40px;

        .filter-selected {
            text-decoration: underline;
        }
    }
}

// TIMER
#timer {
    width: 100%;
    height: 400px;
    overflow-x: hidden;
    padding: 0;
    margin: 0 auto;

    display: -webkit-box;

    display: -webkit-flex;

    display: -moz-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: -webkit-transform .06s;
    transition: -webkit-transform .06s;
    -o-transition: -o-transform .06s;
    -moz-transition: transform .06s, -moz-transform .06s;
    transition: transform .06s;
    transition: transform .06s, -webkit-transform .06s, -moz-transform .06s, -o-transform .06s;

    .wrapper {
        width: 390px;
        padding: 10px;

        background: var(--white);
        border: 1px solid var(--black);

        display: -webkit-box;

        display: -webkit-flex;

        display: -moz-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        -webkit-transform: rotate(-12deg);

        -moz-transform: rotate(-12deg);

        -ms-transform: rotate(-12deg);

        -o-transform: rotate(-12deg);

        transform: rotate(-12deg);
        -webkit-animation: hover 20s ease-in-out infinite alternate;
        -moz-animation: hover 20s ease-in-out infinite alternate;
        -o-animation: hover 20s ease-in-out infinite alternate;
        animation: hover 20s ease-in-out infinite alternate;

        .countdown {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            h3 {
                margin: 0;
                font-size: 60px;
            }
        }

        h4 {
            margin: 0;
            font-size: 18px;
        }
    }


    @-webkit-keyframes hover {
        0% {
            -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
            -webkit-transform-origin: top center;
            transform-origin: top center;
        }

        50% {
            -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
            -webkit-transform-origin: top left;
            transform-origin: top left;
        }

        100% {
            -webkit-transform: rotate(-17deg);
            transform: rotate(-17deg);
            -webkit-transform-origin: center right;
            transform-origin: center right;
        }
    }

    @-moz-keyframes hover {
        0% {
            -webkit-transform: rotate(-12deg);
            -moz-transform: rotate(-12deg);
            transform: rotate(-12deg);
            -webkit-transform-origin: top center;
            -moz-transform-origin: top center;
            transform-origin: top center;
        }

        50% {
            -webkit-transform: rotate(-15deg);
            -moz-transform: rotate(-15deg);
            transform: rotate(-15deg);
            -webkit-transform-origin: top left;
            -moz-transform-origin: top left;
            transform-origin: top left;
        }

        100% {
            -webkit-transform: rotate(-17deg);
            -moz-transform: rotate(-17deg);
            transform: rotate(-17deg);
            -webkit-transform-origin: center right;
            -moz-transform-origin: center right;
            transform-origin: center right;
        }
    }

    @-o-keyframes hover {
        0% {
            -webkit-transform: rotate(-12deg);
            -o-transform: rotate(-12deg);
            transform: rotate(-12deg);
            -webkit-transform-origin: top center;
            -o-transform-origin: top center;
            transform-origin: top center;
        }

        50% {
            -webkit-transform: rotate(-15deg);
            -o-transform: rotate(-15deg);
            transform: rotate(-15deg);
            -webkit-transform-origin: top left;
            -o-transform-origin: top left;
            transform-origin: top left;
        }

        100% {
            -webkit-transform: rotate(-17deg);
            -o-transform: rotate(-17deg);
            transform: rotate(-17deg);
            -webkit-transform-origin: center right;
            -o-transform-origin: center right;
            transform-origin: center right;
        }
    }

    @keyframes hover {
        0% {
            -webkit-transform: rotate(-12deg);
            -moz-transform: rotate(-12deg);
            -o-transform: rotate(-12deg);
            transform: rotate(-12deg);
            -webkit-transform-origin: top center;
            -moz-transform-origin: top center;
            -o-transform-origin: top center;
            transform-origin: top center;
        }

        50% {
            -webkit-transform: rotate(-15deg);
            -moz-transform: rotate(-15deg);
            -o-transform: rotate(-15deg);
            transform: rotate(-15deg);
            -webkit-transform-origin: top left;
            -moz-transform-origin: top left;
            -o-transform-origin: top left;
            transform-origin: top left;
        }

        100% {
            -webkit-transform: rotate(-17deg);
            -moz-transform: rotate(-17deg);
            -o-transform: rotate(-17deg);
            transform: rotate(-17deg);
            -webkit-transform-origin: center right;
            -moz-transform-origin: center right;
            -o-transform-origin: center right;
            transform-origin: center right;
        }
    }

}



// HOME PAGE
.home {
    .button-back {
        display: none !important;
    }

    section {
        margin: 100px 0;
        padding: 20px;

        &:nth-of-type(2) {
            margin-top: 0;
        }

        h2 {
            font-size: 45px;
            margin: 0;
        }

        &#sobre {
            header {
                height: 0;
            }

            h2 {
                margin: 0;
            }

            p {
                font-size: 18px;
                line-height: 1.8;
            }

            p:first-of-type {
                margin-bottom: 30px;
            }

            .button {
                margin-top: 50px;
            }
        }

        &#projects {
            @include projects;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -moz-box-orient: vertical;
            -moz-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-bottom: 50px;
        }

        &#contact {
            margin-top: 50px;
        }
    }

    footer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -moz-box-orient: vertical;
        -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        height: 150px;
        margin-top: 50px;

        p {
            margin-bottom: 0;
        }

        #sticky-bottom {
            display: none;
        }
    }
}

// NOME
#name {
    overflow: hidden;
    padding: 10px 0 10px 10px;
    margin: 0;

    h1 {
        width: 100%;
        margin: 0;

        color: var(--black);
        font-size: 95px;
        line-height: 1.3;

        overflow: hidden;
        pointer-events: none;

        -webkit-transform: var(--skew);
        -ms-transform: var(--skew);
        -moz-transform: var(--skew);
        -o-transform: var(--skew);
        transform: var(--skew);

        -webkit-transform-origin: 0 60%;
        -ms-transform-origin: 0 60%;
        -moz-transform-origin: 0 60%;
        -o-transform-origin: 0 60%;
        transform-origin: 0 60%;

        will-change: transform;
    }
}



//PROJECTS PAGE
.projects {
    @include pages;
    @include projects;

    #projects {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    header {
        h1 {
            height: 200px;
            font-size: 45px;
        }

        p {
            margin: 20px auto;
        }
    }

    & > footer p {
        display: none;
    }

}

//ABOUT PAGE
.about {

    @include pages;

    p:not(#contact>.bloco>p) {
        font-family: $font-regular;
    }

    li {
        font-family: $font-regular;
    }

    section header {
        width: 100%;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding-top: 20px;
        background: rgba(255, 255, 255, .9);
    }

    #sobre p {
        font-family: $font-regular;
        line-height: 1.8;
    }

    /* EDUCATION */

    #education {
        white-space: nowrap;

        .titulo-bloco {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
        }

        ul {
            margin-bottom: 50px;

            li {
                margin: 15px 0;
            }
        }
    }

    /* SKILLS */

    #skills {

        h2 {
            margin: 0;
        }

        .bloco ul:not(:last-of-type)::after {
            content: '+';
        }

    }

}

//SINGLE PROJECT PAGE
.project-page {
    article {
        padding: 20px;
        padding-top: 150px;

        header {
            margin-bottom: 50px;

            h1 {
                font-size: 45px;
                margin: 0 0 20px;
            }

            p {
                font-family: $font-regular;
                font-size: 18px;
                line-height: 1.6;
                margin-bottom: 20px;
            }

            a {
                font-size: 20px;
            }
        }

        main {
            ul {
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                -moz-box-orient: vertical;
                -moz-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;

                h4 {
                    text-align: center;
                    background: white;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                }

                .desktop {
                    display: none;
                }
                .mobile {
                    display: block;
                }

                img {
                    max-height: 90%;
                    width: 100%;
                    -o-object-fit: contain;
                    object-fit: contain;
                    -o-object-position: 50% 50%;
                    object-position: 50% 50%;
                    margin: 50px auto;
                }
            }
        }

        footer {
            margin: 50px auto 150px;
            font-size: 18px;
            text-align: center;
            line-height: 2;

            h4:last-of-type {
                margin-top: 50px;
            }
        }
    }

    #sticky-bottom {
        display: none;
    }

    footer p {
        display: none;
    }
}

//EXPERIMENTS PAGE
#experiments {
    overflow: hidden;

    & > header {
        display: none;
    }

    #name {
        overflow: unset;

        h1 {
            -webkit-transform-origin: top right;
            -moz-transform-origin: top right;
            -ms-transform-origin: top right;
            -o-transform-origin: top right;
            transform-origin: top right;
        }
    }

    #sobre {
        header {
            height: 0;
        }

        h2 {
            margin: 0;
        }

        p {
            font-size: 18px;
            line-height: 1.8;
        }

        p:first-of-type {
            margin-bottom: 30px;
        }

        .button {
            margin-top: 50px;
        }
    }

    #timer {
        color: white;

        h4 {
            text-align: center;
            max-width: 240px
        }
    }

    #experiments-block {

        header {
            font-size: 22px;
            max-width: 600px;
        }

        main {
            margin: 100px;
            min-height: 500px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -moz-box-orient: vertical;
            -moz-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;

            h3 {
                width: 500px;
                margin: 0 auto;
                text-align: center;
                font-family: $font-regular;
                line-height: 1.7;
            }
        }
    }

    section:not(#name):not(#experiments-block) {
        padding: 20px;
        position: relative;
        z-index: 1;
    }

    #c2 {
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    footer {
        height: unset;
        margin-top: 200px;

        p {
            margin-bottom: 0;
            height: unset;

            &:last-of-type {
                margin: 30px 0;
            }
        }
    }
}
