<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
      <div class="wrapper {{ page.title }} {% if page.collection == 'projects' %}project-page{% endif %}">

        {%- include header.html -%}

        <main aria-label="Content">
                {{ content }}
        </main>

        
        {% if page.collection == 'projects' %}
          {%- include single_project-footer.html -%}
        {% else %}
          {%- include footer.html -%}
        {% endif %}
      </div>
      
      <script language="javascript" type="text/javascript" src="{{ "/assets/js/all.js" | relative_url }}"></script>
  </body>

</html>
