<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
	<div class="wrapper {{ page.title }} {% if page.collection == 'projects' %}project-page{% endif %}">

		{%- include header.html -%}

		<main aria-label="Content">
			<article>
				<header>
					<h1>{{ page.title | escape }}</h1>
					<p>{{ page.description}}</p>
					{% for link in page.links %}
					<a href="{{ link.url }}" target="_blank">{{ link.linktext }}</a>
					{% endfor %}


					{% if project.category %}
					<ul class="categories">
						{% for single_category in project.category %}
						<li class="single_category">
							<h6>{{ single_category }}</h6>
						</li>
						{% endfor %}
					</ul>
					{% endif %}

				</header>
				<main>
					<ul>
						{% for image in page.gallery %}
						<li class="{{ image.device }}">
							<img class="lazy" data-src="https://images.weserv.nl?url=https://brunommst.github.io{{ image }}&w=1300&q=80" src="https://images.weserv.nl?url=https://brunommst.github.io{{ image }}&h=1&q=5" alt="Picture depicting this project">
						</li>
						{% endfor %}
					</ul>
				</main>
				{{ content }}
				<footer>
					{% for person in page.persons %}
					{% if person %}
					<h4>In collaboration with:</h4>
					<ul>
						{% if person.link %}
						<li><a href="{{ person.link }}" target="_blank">{{ person.name }}</a></li>
						{% else %}
						<li>{{ person.name }}</li>
						{% endif %}
					</ul>
					{% endif %}
					{% endfor %}
					<h4>{{ page.year }}</h4>
				</footer>


				<div id="sticky-bottom">
					<a href="javascript:history.back()" class="button button-back">
						<div class="arrow">
							<span>1</span>
						</div>
						<h5>Back to projects</h5>
					</a>
				</div>

			</article>
		</main>

		{% if page.collection == 'projects' %}
		{%- include single_project-footer.html -%}
		{% else %}
		{%- include footer.html -%}
		{% endif %}

	</div>

</body>

</html>